.label {
  position: absolute;
  display: block;
  top: 244px;
  left: 20px;
  padding: 0;
  margin: 0 0 20px 0;
}

.input {
  display: block;
  width: 280px;
  color: rgba(255, 255, 255);
  background-color: transparent;
  border: 1px solid #999;
  outline: none;
  border-radius: 6px;
  padding: 4px 4px;
  margin-top: 10px;
}
