.list {
  list-style: none;
}

.listItem {
  position: relative;
  width: 260px;
  height: 20px;
  margin: 0 0 10px 30px;
}

.listItem::before {
  position: absolute;
  content: "";
  left: -30px;
  top: 2px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(./address-book-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
